@model AHBC_SampleLab.eCommerce.Models.Product

@{
    /**/

    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Quantity
        </dt>

        <dd>
            <div id="test"></div>
        </dd>

    </dl>
</div>

@using (Html.BeginForm( "PostProduct", "api"))
{
<div>
    <h4>Order</h4>
    <div class="form-group col-md-2">
        <input type="number" name="quantity" min="1" max="10" class="form-control" id="orderAmount">
    </div>
    @*<button name="Submit" type="submit" value="Send Order" /> </button>*@
    <button type="submit" value="Submit">Submit</button>
</div>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script language="javascript">
        $(document).ready(function () {
            //$("#test").load(function (respnse) {
            $.get("http://localhost:55349/api/Inventories/", { ID: @Model.Id }, function (data)
            {
                $("#test")
                    .text(data.Quantity) , console.log("Passed")

            }, "json")

        });


    </script>

}
